*{
    margin: 0;
}
#max{
    width: 1540px;
    height: 450px;
    margin-top: -3px;
  }
  .re{
    position: relative;
    height: 450px;
    width: 1540px;
    overflow: hidden;
  }
  .re ul{
    list-style-type:none ;
  }
  .re ul>li{
    width: 1540px;
    height: 450px;
    position: absolute;
  left: 3px;
    transition: 1s;
    opacity: 0;}
  
  .re ul>li img{
    width:1540px;
    height: 450px;}
  
  #max ol {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,75px);
    grid-template-rows: auto;
    grid-gap: 3px;gap: 3px;
    float: left;
    margin-top: 450px;
    list-style: none;
    top:0;left:0; }
 
  #max ol li {
    width: 10px;
    height: 10px;
    font-size: 15px;
    line-height: 20px;
    
    text-align: center;
    border-radius: 10px;
    border: 2px solid #999999; }